<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login Screen</title>
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{% static 'Web_Autoscheduler/style.css' %}">
  </head>
  <body>
    <div class="managerLogin">
      <form id="managerLoginForm" method="post">
	<legend>Manager Login</legend>
	<label>Email:</label>
	<input type="text" name="email" maxlength="25" size="45" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"> <br>
	<label>Password:</label>
	<input type="text" name="password" maxlength="20" size="45"> <br>
	<button type="submit" id="loginButton">Login</button>
      </form>
    </div>
  </body>
</html>
